
body{
  background-color: whitesmoke;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
html{
  font-size: 62.5%;
}

#v1 {
  display: block;
  margin-left: 300px;
}

#vk {
  text-align: center;
  text-shadow: 0.3rem 0.5rem #FDFF00;
}

#links {
  text-align: right;
}
a{
  text-decoration: none;
  font-size: 2.5rem;
}

h3 {
  text-align: center;
}
.img11{
  border-radius: 1rem;
}


#pp2 {
  width: 32.2rem;
  padding-left: 2rem;
  margin-left: 1rem;
  margin-right: 2rem;
  float: right;
  font-style: italic;
  font-weight: 400;
  font-size: 2rem;
}

#pp3 {
  width: 30rem;
  padding-left: 2rem;
  margin-left: 2rem;
  float: right;
  font-style: italic;
  font-weight: 400;
  font-size: 2rem;
}

#pp4 {
  width: 25rem;
  padding-left: 2rem;
  margin-left: 2rem;
  float: right;
  font-style: italic;
  font-weight: 400;
  font-size: 2rem;
}

.checked {
  color: orange;
}

#time {
  width: 80px;
  padding-left: 20px;
  margin-left: 1px;
  float: auto;
  background-color: pink;
}

.fa {
  padding: 7px;

  width: 4rem;
  height: 4rem;
  margin-left: 0.2rem;
  margin-top: 5rem;
  padding-top: 1rem;
  padding-bottom: 0.2rem;
}

.fa:hover {
  opacity: 0.8;
}

.fa-instagram {
  background-color: none;
  /* color: purple; */
  text-decoration: none;
}

.fa-twitter {
  background-color: none;
  text-decoration: none;

}

.fa-facebook-f {
  text-decoration: none;
}

.fa-youtube-play {
  text-decoration: none;
}


    /* time live code */
#demo {
  /* float:right; */
  margin-top: 2rem;
  margin-left: 2rem;
  float: right;
  color: rgb(15, 14, 14);
  text-shadow: #d519b0;
  text-emphasis-color: solid black;
  /* background-color: rgb(96, 148, 148); */
}

#records {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: rgb(135, 16, 127);
  background-color: rgb(167, 216, 216);
  border: none;
  border-radius: 4.5rem;
  box-shadow: 0rem 0.8rem 1.5rem #2192FF;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

}

button:hover {
  background-color: #f1edbd;
  box-shadow: 0rem 1rem 1rem #d519b0;
  color: #47eb60;
  transform: translateY(-0.7rem);
}

  /* Watch time  */

.clock {
  border-radius: 50%;
  background: white;
  font-family: "Montserrat";
  border: 5px solid blue;
  box-shadow: inset 0.2rem 0.3rem 0.8rem 0 rgba(0, 0, 0, 0.1);
  float: right;
  margin-top: 8rem;
  margin-right: 3rem;

}

.wrap {
  overflow: hidden;
  position: relative;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.minute,
.hour {
  position: absolute;
  height: 30px;
  width: 3px;
  margin: auto;
  top: -27%;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
  transform-origin: bottom center;
  transform: rotate(0deg);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.minute {
  position: absolute;
  height: 4rem;
  width: 0.2rem;
  top: -38%;
  left: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  transform: rotate(90deg);
}

.second {
  position: absolute;
  height: 30px;
  width: 1px;
  margin: auto;
  top: -26%;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 0.4rem;
  background: #FF4B3E;
  transform-origin: bottom center;
  transform: rotate(180deg);
  z-index: 1;
}

.dot {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 8rem;
  background: white;
  border: 0.2rem solid #1b1b1b;
  border-radius: 10rem;
  margin: auto;
  z-index: 1;
}
/* star */
.fa-star{
  margin-top: none;
}


/* like button */

/* thank you coding */


.wrapper-2{
  padding :3rem;
  text-align:center;
}

#thx{
    font-family: 'Kaushan Script', cursive;
  font-size:4em;
  letter-spacing:0.3rem;
  color:#5892FF ;
  margin:0;
  margin-bottom:2rem;
} 
/* Media Queries */

@media(max-width: 1600px){
  html{
    font-size: 55%;
  }
}
@media(max-width: 1600px){
  html{
    font-size: 45%;
  }
}
@media(max-width: 1600px){
  body{
    font-size: 2rem;
  }
}

